<form method="post" action="{{ path('app_supermarket_delete', {'id': supermarket.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supermarket.id) }}">
    <button class="btn">Delete</button>
</form>
