{% extends 'base.html.twig' %}

{% block title %}Food Items{% endblock %}

{% block body %}
<header>
    <h1>All Our Food</h1>
</header>

<main>
    <div class="container">

        <div class="actions">
            <a href="{{ path('app_food_item_new') }}" class="btn btn-primary btn-lg">
                + New Food
            </a>

            <a href="{{ path('app_home') }}" class="btn btn-secondary btn-lg">
                Home
            </a>
        </div>

        <div class="table-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for food_item in food_items %}
                    <tr>
                        <td>{{ food_item.name }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>No food items yet</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</main>
{% endblock %}
